html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a202c; /* Gray 800 */
  color: #e2e8f0; /* Gray 200 */
}


/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d3748;
}

::-webkit-scrollbar-track {
  background: #1a202c;
  border-radius: 10px;
}

/* Eliminar bordes de focus */
*:focus {
  outline: none;
}
